:root {
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
    --main-font-color: #414446;
    --main-color-gray: #414446;
    --main-color-white: #dbdbdd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    color: var(--main-font-color);
    background: linear-gradient(#f7f6f1, #bebebd);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.7;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    text-align: center;
}

header h1 {
    color: var(--main-font-color);
    font-size: 1.5rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-table {
    background-color: var(--main-color-white);
    margin: 25px 0;
    font-size: .9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-spacing: 1px;
}

.content-table caption {
    color: var(--main-font-color);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.content-table thead th {
    background-color: #f8610a;
    color: var(--main-color-white);
    text-align: center;
    font-weight: 500;
    width: auto;
}

.content-table th, 
.content-table tr {
    padding: 5px 5px;
    color: var(--main-color-gray);
    text-align: left;
}

.content-table tbody tr {
    border: 1px solid var(--main-color-gray);
    background-color: #fafae1;
}

.content-table tbody td {
    padding: 0 5px;
}

.column-center {
    text-align: center;
}


.footer {
    padding-bottom: 4rem;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    margin-top: 7rem;
    font-size: .75rem;
    color: var(--main-color-gray);
}
